.Home {
	text-align: center;
}

.Home h1 {
	color: var(--primary-color);
	font-size: 64px;
	margin: 0;
	padding-top: 160px;
	padding-bottom: 40px;
}

.Home button {
	background: none;
	color: var(--primary-color);
	border: 3px solid var(--primary-color);
	font-size: 34px;
	padding: 5px;
	cursor: pointer;
	margin: 0 10px;
	transition: all .1s linear;
	outline: none;
}

.Home button:hover {
	color: var(--background-color);
	background: var(--primary-color);
}

.Home button.Play {
	font-size: 40px;
	padding: 10px;
}
